{% load static %}

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/markdown.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/lib/jquery.3.1.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/marked.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/packery.2.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/waypoints.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    <title>personal</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="background-cover"></div>
    <div class="main">
      <div id="header" class="banner">
        <div class="summary glowing-text-negative">
          <p class="name">Ryan Miling</p>
        </div>
        <div class="navigation">
          <div class="links static glowing-text-negative">
            <a data-section-selector="#header" class="link go-to-top"></a>
            <a data-section-selector="#identity" class="link">identity</a>
            <a data-section-selector="#social" class="link">social</a>
            <a data-section-selector="#blog" class="link">blog</a>
            <!-- TODO add another section, prob code? -->
          </div>
          <div class="links floating glowing-text-negative">
            <a data-section-selector="#header" class="link go-to-top"></a>
            <a data-section-selector="#identity" class="link">identity</a>
            <a data-section-selector="#social" class="link">social</a>
            <a data-section-selector="#blog" class="link">blog</a>
            <!-- TODO add another section, prob code? -->
          </div>
        </div>
      </div>
      <div id="content">
        <div class="banner content-box">
          <p><span class="big-quote">"</span><strong>Software is not real.</strong> When you pry open a computer lines of code do not spill out onto the floor as a reel of film. When we realize that our <strong>love</strong> of software isn't writing lines of code, but <strong>building</strong>, the limitlessness of what can be created comes into the foreground."</p>
        </div>
        <!--
        <div class="banner content-box">
          <p>How do I code? Custom vim and tmux profiles; dot-files; note my keystrokes and repetitions and build bash functions to streamline; As a Pragmatic Programmer, I "learn one editor and learn it well" and that's vim for me. I don't use editors with suggestions or auto-completes because I want to get more of the code base in my head so I can think even while I'm not at my computer.</p>
        </div>
        -->
        <div id="identity" class="banner content-box">
          <h1>Identity</h1>
          <hr class="separator"/>
          <div class="gallery">
            <div class="photo" style="background-image: url('/static/img/gallery/new_office_view.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/workbench_in_progress.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/first_snowfall_at_home.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/tomato_soup_ingredients.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/brauhaus_reading.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/snowy_rockies.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/a_good_shoe_shine.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/long_day_in_the_woods_reward.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/sailing_calm_waters.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/sailboat_vista.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/battery_jewell.jpg')"></div>
            <div class="photo" style="background-image: url('/static/img/gallery/ne_kingdom_fire.jpg')"></div>
            <div class="preview-photo"></div>
          </div>
        </div>
        <div class="banner content-box">
          <p>Time spent for me is building things with my hands. Primarily I spend my workdays crafting scalable, robust, and beautiful web applications. This comes with a consideration for the vision of the product, needs of Engineering, and what it will take for my company to succeed with their mission.
          My balance in life comes with time vested in home projects, woodworking, brewing beer, and studying number theory &amp; psychophysics. These are all subjects I've gained recent interest in and devote a vast majority of my free time into. Learning new arts &amp; trades helps me interpret philosophies and strategies in entreprenurism and software development methodologies to think differently.</p>
        </div>
        <div id="social" class="banner content-box">
          <h1>Social</h1>
          <hr class="separator"/>
          <div class="networks">
            <div class="network linkedin">
              <a class="link" href="https://www.linkedin.com/in/ryanmiling" target="_blank"></a>
              <div class="label">LinkedIn</div>
            </div>
            <div class="network angellist">
              <a class="link" href="https://angel.co/ryanmiling" target="_blank"></a>
              <div class="label">AngelList</div>
            </div>
            <div class="network github">
              <a class="link" href="https://github.com/rynmlng" target="_blank"></a>
              <div class="label">GitHub</div>
            </div>
            <div class="network twitter">
              <a class="link" href="https://twitter.com/ryanmiling" target="_blank"></a>
              <div class="label">Twitter</div>
            </div>
            <div class="network soundcloud">
              <div class="label">SoundCloud</div>
              <a class="link" href="https://soundcloud.com/ryan-miling" target="_blank"></a>
            </div>
          </div>
        </div>
        <div id="blog" class="banner content-box">
          <h1>Blog</h1>
          <hr class="separator"/>
          {% for post in blog_posts %}
          <div class="post">
            <div class="date">{{ post.created_datetime.date }}</div>
            <div class="content markdown">{{ post.content }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
